1

In [2]:
import pandas as pd
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
series1 = pd.Series(mylist)
series2 = pd.Series(myarr)
series3 = pd.Series(mydict)
print(series1, series2, series3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

2

In [3]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
df = pd.DataFrame({'index': ser.index, 'values': ser.values})
print(df)

   index  values
0      a       0
1      b       1
2      c       2
3      e       3
4      d       4
5      f       5
6      g       6
7      h       7
8      i       8
9      j       9
10     k      10
11     l      11
12     m      12
13     n      13
14     o      14
15     p      15
16     q      16
17     r      17
18     s      18
19     t      19
20     u      20
21     v      21
22     w      22
23     x      23
24     y      24
25     z      25

3

In [4]:
df2 = pd.concat([series1, series2], ignore_index=True)
print(df2)

0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
26     0
27     1
28     2
29     3
30     4
31     5
32     6
33     7
34     8
35     9
36    10
37    11
38    12
39    13
40    14
41    15
42    16
43    17
44    18
45    19
46    20
47    21
48    22
49    23
50    24
51    25
dtype: object

4

In [5]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'latin_letters'

print(ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_letters, dtype: object

5

In [6]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])


ser1 = ser1[~ser1.isin(ser2)]


print(ser1)

0    1
1    2
2    3
dtype: int64

6

In [7]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
union = pd.Series(np.union1d(ser1,ser2))
intersect = pd.Series(np.intersect1d(ser1, ser2))
notcommonseries = union[~union.isin(intersect)]
print(notcommonseries)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

7

In [8]:
ser = pd.Series(np.random.normal(10, 5, 25))
result = np.percentile(ser, q=[0, 25, 50, 75, 100])
print(ser)
print(result)

0     15.954219
1      6.518573
2     10.222779
3     10.236242
4     10.623390
5      8.595762
6     14.929509
7      8.641770
8     12.833017
9      3.145667
10    10.295582
11    15.452923
12     4.140690
13    19.987078
14    13.352205
15     7.941372
16    13.036745
17    11.670386
18     9.631466
19    11.137989
20     4.109775
21    18.759892
22     1.227399
23    18.576963
24    14.016611
dtype: float64
[ 1.22739897  8.59576202 10.62339035 14.01661088 19.98707803]

8

In [9]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
result = (ser.value_counts())
print(result)

a    6
d    4
f    4
h    4
g    3
e    3
b    3
c    3
Name: count, dtype: int64

9

In [10]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
top_two = ser.value_counts().head(2).index
ser = ser.apply(lambda x: x if x in top_two else 'Прочее')
print(ser)

0          1
1     Прочее
2          1
3          1
4          1
5     Прочее
6          2
7          1
8          2
9     Прочее
10         2
11    Прочее
dtype: object

10

In [11]:
ser = pd.Series(np.random.random(20))
deciles = pd.qcut(ser, 10, labels=["Дециль 1", "Дециль 2", "Дециль 3", "Дециль 4", "Дециль 5", "Дециль 6", "Дециль 7", "Дециль 8", "Дециль 9", "Дециль 10"])
print(deciles)

0      Дециль 3
1      Дециль 3
2      Дециль 4
3      Дециль 1
4      Дециль 5
5      Дециль 8
6      Дециль 2
7      Дециль 2
8      Дециль 8
9      Дециль 4
10     Дециль 9
11     Дециль 1
12     Дециль 5
13     Дециль 7
14     Дециль 7
15     Дециль 9
16     Дециль 6
17    Дециль 10
18     Дециль 6
19    Дециль 10
dtype: category
Categories (10, object): ['Дециль 1' < 'Дециль 2' < 'Дециль 3' < 'Дециль 4' ... 'Дециль 7' < 'Дециль 8' < 'Дециль 9' < 'Дециль 10']

11

In [12]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7, 5), columns=[f"Column_{i+1}" for i in range(5)])
print(df)

   Column_1  Column_2  Column_3  Column_4  Column_5
0         7         1         4         9         2
1         8         9         2         5         3
2         2         1         2         3         1
3         3         6         1         3         4
4         2         7         2         3         4
5         6         9         3         4         7
6         5         1         6         4         7

12

In [13]:
ser = pd.Series(np.random.randint(1, 10, 7))
result = ser[ser%3==0]
print(result)

2    6
3    9
4    3
dtype: int32

13

In [14]:
import pandas as pd
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
for i in pos:
    print(ser.iloc[i])

a
e
i
o
u

14

In [15]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
vertical_concat = pd.concat([ser1, ser2], axis=0).reset_index(drop=True)
print("Объединение по горизонтали:\n",vertical_concat)
horizontal_concat = pd.concat([ser1, ser2], axis=1)
print("\nОбъединение по вертикали:\n",horizontal_concat)

Объединение по горизонтали:
 0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object

Объединение по вертикали:
    0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

15

In [16]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

print([int(ser1[ser1 == value].index[0]) for value in ser2])

[5, 4, 0, 8]

16

In [17]:
import numpy as np
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

print(((truth - pred) ** 2).mean())

0.3284003545603834

17

In [18]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

print(ser.str.capitalize())

0     How
1      To
2    Kick
3    Ass?
dtype: object

18

In [19]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

print(ser.apply(len))

0    3
1    2
2    4
3    4
dtype: int64

19

In [20]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print("Первая разность:\n", ser.diff().to_list())
print("Вторая разность:\n", ser.diff().diff().to_list())

Первая разность:
 [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
Вторая разность:
 [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

20

In [21]:
from dateutil import parser
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])


print(ser.apply(lambda x: parser.parse(x)))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

21

In [22]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil import parser
ser_datetime = ser.apply(lambda x: parser.parse(x))
day_of_month = ser_datetime.dt.day.tolist()
week_number = ser_datetime.dt.isocalendar().week.tolist()
day_of_year = ser_datetime.dt.dayofyear.tolist()
day_of_week = ser_datetime.dt.day_name().tolist()

print("Номер дня в месяце:", day_of_month)
print("Номер недели:", week_number)
print("Номер дня в году:", day_of_year)
print("День недели:", day_of_week)

Номер дня в месяце: [1, 2, 3, 4, 5, 6]
Номер недели: [53, 5, 9, 14, 19, 23]
Номер дня в году: [1, 33, 63, 94, 125, 157]
День недели: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

22

In [23]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

print(ser.apply(lambda x: parser.parse('04 ' + x)))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

23

In [24]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

def count_vowels(word):
    return sum(1 for char in word.lower() if char in 'aeiouy')

print(ser[ser.apply(count_vowels) >= 2])

0     Apple
1    Orange
3    Python
4     Money
dtype: object

24

In [25]:
import pandas as pd
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

valid_emails = emails[emails.str.contains(pattern)]

print("Корректные адреса электронной почты:")
print(valid_emails)

Корректные адреса электронной почты:
1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

25

In [26]:
import numpy as np
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

print(weights.groupby(fruit).mean())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'apple', 'banana', 'banana', 'carrot', 'carrot', 'apple', 'carrot', 'banana', 'apple']
apple     5.000000
banana    5.333333
carrot    6.333333
dtype: float64

26

In [27]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

print("Евклидово расстояние:", np.sqrt(np.sum((p - q) ** 2)))

Евклидово расстояние: 18.16590212458495

27

In [28]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

print(np.where((ser.shift(1) < ser) & (ser.shift(-1) < ser)))

(array([1, 5, 7]),)

28

In [29]:
from collections import Counter
my_str = 'dbc deb abed gade'


least_common_char = min(Counter(my_str.replace(' ', '')), key=Counter(my_str.replace(' ', '')).get) 
print(my_str.replace(' ', least_common_char))

dbccdebcabedcgade

29

In [30]:
date_range = pd.date_range(start='2000-01-01', periods=10, freq='W-SAT') 
random_values = np.random.randint(1, 10, size=10)
print(pd.Series(data=random_values, index=date_range))

2000-01-01    7
2000-01-08    9
2000-01-15    8
2000-01-22    9
2000-01-29    2
2000-02-05    8
2000-02-12    3
2000-02-19    5
2000-02-26    7
2000-03-04    4
Freq: W-SAT, dtype: int32

30

In [31]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

print(ser.resample('D').ffill())

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64
2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

31

In [32]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(lag) for lag in range(1, 11)] 
max_lag = np.argmax(autocorrelations) + 1 
autocorrelations = [float(corr) for corr in autocorrelations] 
print("Автокорреляции для первых 10 лагов:", autocorrelations)
print("Лаг с наибольшей корреляцией:", max_lag)

Автокорреляции для первых 10 лагов: [0.2807321833502456, -0.013895070638885641, 0.4349705577191398, 0.42171767882625294, 0.14571422173274387, 0.05322154337896955, 0.28624486064380195, 0.3617074984990829, -0.08817198141937414, 0.2890653315581072]
Лаг с наибольшей корреляцией: 3

32

In [33]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
print(pd.read_csv(url, skiprows=lambda x: x % 50 != 0))

      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

33

In [34]:
data_frame = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
data_frame ['medv'] = data_frame ['medv'].apply(lambda x: 'Low' if x < 25 else 'High')
print(data_frame.head())

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98   Low
1  396.90   9.14   Low
2  392.83   4.03  High
3  394.63   2.94  High
4  396.90   5.33  High

34

In [35]:
L = pd.Series(range(15))
steps = np.lib.stride_tricks.sliding_window_view(L, window_shape=4)[::2]
df = pd.DataFrame(steps)

print(df)

    0   1   2   3
0   0   1   2   3
1   2   3   4   5
2   4   5   6   7
3   6   7   8   9
4   8   9  10  11
5  10  11  12  13

35

In [36]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
columns_to_import = ['crim', 'medv'] 
df = pd.read_csv(url, usecols=columns_to_import)
print(df)

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

36

In [37]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

num_rows, num_columns = df.shape
data_types = df.dtypes
summary_stats = df.describe()

numpy_array = df.to_numpy()
list_data = df.values.tolist()

print(f'Количество строк: {num_rows}')
print(f'Количество столбцов: {num_columns}')
print('\nТипы данных каждого столбца:')
print(data_types)
print('\nСуммарная статистика каждого столбца:')
print(summary_stats)
print('\nЭквивалент DataFrame в виде numpy-массива:')
print(numpy_array)
print('\nЭквивалент DataFrame в виде списка:')
print(list_data)

Количество строк: 93
Количество столбцов: 27

Типы данных каждого столбца:
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

Суммарная статистика каждого столбца:
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000

Эквивалент DataFrame в виде numpy-массива:
[['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

Эквивалент DataFrame в виде списка:

37

In [38]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

max_price = df['Price'].max()
max_price_row = df[df['Price'] == max_price].iloc[0]

# Информация об автомобиле
manufacturer = max_price_row['Manufacturer']
model = max_price_row['Model']
car_type = max_price_row['Type']

row_number = max_price_row.name
column_number = df.columns.get_loc('Price')

print(f'Производитель: {manufacturer}')
print(f'Модель: {model}')
print(f'Тип: {car_type}')
print(f'Цена: {max_price}')
print(f'Номер строки: {row_number}')
print(f'Номер столбца: {column_number}')

Производитель: Mercedes-Benz
Модель: 300E
Тип: Midsize
Цена: 61.9
Номер строки: 58
Номер столбца: 4

38

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)

df.rename(columns={'Type': 'CarType'}, inplace=True)
df.columns = df.columns.str.replace('.', '_')
print(df.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')
Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

39

In [40]:
import io
import requests

data = requests.get('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv').text
data = data.replace(',"None",', ',"No_AirBags",') #Это треубуется для обработки случая, когда подушки нет, а не то что пропуск
df = pd.read_csv(io.StringIO(data))

# Проверка отсутствующих значений
missing_values = df.isnull().sum()

# Внутри missing находится сумма пропусков по всем столбцам
if missing_values.sum() != 0:
    print("Пропуски есть")
else:
    print("Пропусков нет")

Пропуски есть

40

In [41]:
import io
import requests

data = requests.get('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv').text
data = data.replace(',"None",', ',"No_AirBags",') #Это треубуется для обработки случая, когда подушки нет, а не то что пропуск
df = pd.read_csv(io.StringIO(data))


missing_values = df.isnull().sum()

print("Количество пропусков по столбцам")
print(missing_values)
print("Максимальное количество пропусков - в столбце")
print(missing_values.max(), missing_values.idxmax())

Количество пропусков по столбцам
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64
Максимальное количество пропусков - в столбце
19 Luggage.room

41

In [42]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
avg_min = df['Min.Price'].mean()
avg_max = df['Max.Price'].mean()
df.fillna({'Min.Price' : avg_min}, inplace=True)
df.fillna({'Max.Price' : avg_max}, inplace=True)
print(df[['Min.Price', 'Max.Price']])

    Min.Price  Max.Price
0   12.900000  18.800000
1   29.200000  38.700000
2   25.900000  32.300000
3   17.118605  44.600000
4   17.118605  21.459091
..        ...        ...
88  16.600000  22.700000
89  17.600000  22.400000
90  22.900000  23.700000
91  21.800000  23.500000
92  24.800000  28.500000

[93 rows x 2 columns]

42

In [43]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
avg = df['Min.Price'].mean()
median = df['Max.Price'].median()
def missing_min(value):
    if(pd.isnull(value)):
        return avg
    else:
        return value
def missing_max(value):
    if(pd.isnull(value)):
        return median
    else:
        return value

df['Min.Price'] = df['Min.Price'].apply(missing_min)
df['Max.Price'] = df['Max.Price'].apply(missing_max)
print(df[['Min.Price', 'Max.Price']])

    Min.Price  Max.Price
0   12.900000      18.80
1   29.200000      38.70
2   25.900000      32.30
3   17.118605      44.60
4   17.118605      19.15
..        ...        ...
88  16.600000      22.70
89  17.600000      22.40
90  22.900000      23.70
91  21.800000      23.50
92  24.800000      28.50

[93 rows x 2 columns]

43

In [44]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
print(pd.DataFrame(df['a']))

    a
0   0
1   5
2  10
3  15

44

In [45]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

def swap_columns(dataframe, col1, col2):
    col1_data=dataframe[col1]
    col2_data=dataframe[col2]
    dataframe[col1]=col2_data
    dataframe[col2]=col1_data
    dataframe = dataframe.rename(columns={col1:col2, col2:col1})
    return dataframe

print("После замены столбцов 'a' и 'c':")
df = swap_columns(df, 'a', 'c')
print(df)

df = df[sorted(df.columns, reverse=True)]
print("\nПосле сортировки столбцов в обратном алфавитном порядке:")
print(df)

После замены столбцов 'a' и 'c':
    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

После сортировки столбцов в обратном алфавитном порядке:
    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

45

In [46]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Сохранение текущих настроек
original_max_rows = pd.get_option('display.max_rows')
original_max_columns = pd.get_option('display.max_columns')
# Изменение настроек отображения
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
# Вывод DataFrame
print(df)
# Возврат настроек к значениям по умолчанию
pd.set_option('display.max_rows', original_max_rows)
pd.set_option('display.max_columns', original_max_columns)

   Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

46

In [47]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
print(df)
# Изменение настроек отображения
pd.set_option('display.float_format', '{:.4f}'.format)
# Вывод DataFrame
print(df)
# Возврат настроек к значениям по умолчанию
pd.reset_option('display.float_format')

         random
0  5.931432e-01
1  1.157262e-09
2  2.481644e-08
3  2.279394e-06
   random
0  0.5931
1  0.0000
2  0.0000
3  0.0000

47

In [48]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
print(df)

df['random'] = df['random'].apply(lambda x: f'{x * 100:.2f}%')
print(df)

     random
0  0.953218
1  0.387863
2  0.529787
3  0.050357
   random
0  95.32%
1  38.79%
2  52.98%
3   5.04%

48

In [49]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.loc[::20, ['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

49

In [50]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df['Index'] = df['Manufacturer'] + ' ' + df['Model'] + ' ' + df['Type']
df.set_index('Index', inplace=True)
is_unique = df.index.is_unique
print(df)
print(f"\nЯвляется ли индекс первичным ключом: {is_unique}")

                          Manufacturer    Model     Type  Min.Price  Max.Price
Index
Acura Integra Small              Acura  Integra    Small       12.9       18.8
missing Legend Midsize         missing   Legend  Midsize       29.2       38.7
Audi 90 Compact                   Audi       90  Compact       25.9       32.3
Audi 100 Midsize                  Audi      100  Midsize        NaN       44.6
BMW 535i Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen Eurovan Van      Volkswagen  Eurovan      Van       16.6       22.7
Volkswagen Passat Compact   Volkswagen   Passat  Compact       17.6       22.4
Volkswagen Corrado Sporty   Volkswagen  Corrado   Sporty       22.9       23.7
Volvo 240 Compact                Volvo      240  Compact       21.8       23.5
missing 850 Midsize            missing      850  Midsize       24.8       28.5

[93 rows x 5 columns]

Является ли индекс первичным ключом: True

50

In [51]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10, -1), columns=list('abc'))
print(df)
print(f"Строка с 5-м наибольшим значением в столбце 'a': {df['a'].nlargest(5).index[-1]}")

    a   b   c
0   7   2  16
1   4  14  25
2   4   7  20
3   5   8   6
4  19  17  26
5  23   6   1
6   9  12   4
7   2  21  21
8  14  24  17
9  29   5   2
Строка с 5-м наибольшим значением в столбце 'a': 6

51

In [52]:

ser = pd.Series(np.random.randint(1, 100, 15))
print(ser)

mean_value = ser.mean()
filtered_values = ser[ser > mean_value]
second_largest_value = filtered_values.nlargest(2).iloc[-1]
position = ser[ser == second_largest_value].index[0] 

print(f"Среднее значение: {mean_value:.2f}")
print(f"Значения, превышающие среднее: {filtered_values.values}")
print(f"2-е наибольшее значение, превышающее среднее: {second_largest_value}")
print(f"Положение 2-го наибольшего значения, превышающего среднее: {position}")

0     51
1     73
2     82
3     30
4     81
5     84
6     73
7     71
8     14
9     61
10    14
11    95
12     1
13    62
14    70
dtype: int32
Среднее значение: 57.47
Значения, превышающие среднее: [73 82 81 84 73 71 61 95 62 70]
2-е наибольшее значение, превышающее среднее: 84
Положение 2-го наибольшего значения, превышающего среднее: 5

52

In [53]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

filtered_df = df[df.sum(axis=1) > 100]
result = filtered_df.tail(2)

print(result)

     0   1   2   3
9   17  16  34  35
11  38  23  16  38

53

In [54]:
ser = pd.Series(np.logspace(-2, 2, 30))

percentile_5 = np.percentile(ser, 5)
percentile_95 = np.percentile(ser, 95)
ser = ser.apply(lambda x: percentile_5 if x < percentile_5 else (percentile_95 if x > percentile_95 else x))

print(ser)

0      0.016049
1      0.016049
2      0.018874
3      0.025929
4      0.035622
5      0.048939
6      0.067234
7      0.092367
8      0.126896
9      0.174333
10     0.239503
11     0.329034
12     0.452035
13     0.621017
14     0.853168
15     1.172102
16     1.610262
17     2.212216
18     3.039195
19     4.175319
20     5.736153
21     7.880463
22    10.826367
23    14.873521
24    20.433597
25    28.072162
26    38.566204
27    52.983169
28    63.876672
29    63.876672
dtype: float64

54

In [55]:

# Создание исходного DataFrame с случайными целыми числами
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))
print("Исходный DataFrame:")
print(df)

# Удаление отрицательных значений и преобразование в одномерный массив
values = df.values.flatten()
positive_values = values[values >= 0]

# Нахождение размера наибольшего возможного квадрата
n = int(np.floor(np.sqrt(len(positive_values))))
square_size = n * n

# Отбор необходимых значений и создание нового DataFrame
square_values = positive_values[:square_size]
square_df = pd.DataFrame(square_values.reshape(n, n))

print("\nПреобразованный DataFrame:")
print(square_df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0   6 -14 -16  42  43  16  34  12 -11   6
1  38  32 -20   5  -9  18  28  18  43  42
2   9  31  19  37  19  23  -8  40  45  15
3  -1 -16   8  41   9  28  11  31 -16  12
4  25  -1   7  47  44  -4  23  44  44 -15
5  -3  41  43  24  42  -5  30  -1  11   5
6  -3  -5  17 -13   6   3  23  45  32  20
7 -12  26  12  12  41  15  38  -7  12  37
8  39  25  -5 -10  -5  29 -20  -2  11   8
9  23  25  -8  24  23 -17 -15  44  49  33

Преобразованный DataFrame:
    0   1   2   3   4   5   6   7
0   6  42  43  16  34  12   6  38
1  32   5  18  28  18  43  42   9
2  31  19  37  19  23  40  45  15
3   8  41   9  28  11  31  12  25
4   7  47  44  23  44  44  41  43
5  24  42  30  11   5  17   6   3
6  23  45  32  20  26  12  12  41
7  15  38  12  37  39  25  29  11

55

In [56]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

df.iloc[[1, 2]] = df.iloc[[2, 1]].values
print(df)

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

56

In [57]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
print("Исходный")
print(df)
df = df.iloc[::-1]
print("Перевернутый")
print(df)

Исходный
    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
Перевернутый
    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

57

In [58]:
df = pd.DataFrame(np.arange(25).reshape(5, -1), columns=list('abcde'))

binary_cols = pd.get_dummies(df['a'], prefix='', prefix_sep='')
binary_cols.columns = [str(col) for col in binary_cols.columns]
binary_cols = binary_cols.astype(int) # true и false в 0 и 1
df_binary = pd.concat([binary_cols, df.drop('a', axis=1)], axis=1)
print("Исходный DataFrame:")
print(df)
print("\nDataFrame с бинарным кодом:")
print(df_binary)

Исходный DataFrame:
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

DataFrame с бинарным кодом:
   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

58

In [59]:

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))
print("Исходный DataFrame:")
print(df)

# Определение количества максимальных значений в каждом столбце
max_counts = df.apply(lambda col: (col == col.max()).sum())

# Нахождение столбца с наибольшим количеством максимальных значений
column_with_most_max = max_counts.idxmax()

print("\nНазвание столбца с наибольшим количеством максимальных значений:")
print(column_with_most_max)

Исходный DataFrame:
    0   1   2   3
0  90  26  69  79
1  75  50  67  36
2  28   4  53  32
3  93  60  35  43
4  47  15  10  30
5  99  35  11  20
6  94  12  71  72
7  77  46  15  34
8  18  96  55   5
9  60  77  41   3

Название столбца с наибольшим количеством максимальных значений:
0

59

In [60]:
from scipy.spatial import distance

df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
print("Исходный DataFrame:")
print(df)

# Функция для нахождения ближайшей строки по евклидовому расстоянию
def find_closest_row(row, data):
    distances = data.apply(lambda x: distance.euclidean(row, x), axis=1)
    closest_row_index = distances[distances > 0].idxmin()
    return closest_row_index

# Применение функции ко всем строкам
df['closest_row'] = df.apply(lambda row: find_closest_row(row, df.drop('closest_row', axis=1, errors='ignore')), axis=1)

print("\nDataFrame с ближайшими строками:")
print(df)

Исходный DataFrame:
    p   q   r   s
a  72  74  50  21
b  95  99  79  40
c  26  78  69  90
d  94  71  55  14
e  79  29  54  57
f  15  66  58  46
g  26  36  95  56
h  43  70  35  46
i  24  60  88  99
j  13  90  97  31

DataFrame с ближайшими строками:
    p   q   r   s closest_row
a  72  74  50  21           d
b  95  99  79  40           d
c  26  78  69  90           i
d  94  71  55  14           a
e  79  29  54  57           a
f  15  66  58  46           h
g  26  36  95  56           i
h  43  70  35  46           f
i  24  60  88  99           c
j  13  90  97  31           f

60

In [61]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

correlation_matrix = df.corr()
max_absolute_correlation = correlation_matrix.apply(lambda x: x.abs().nlargest(2).iloc[1])

print("Корреляционная матрица:")
print(correlation_matrix)
print("\nМаксимально возможное абсолютное значение корреляции для каждого столбца (исключая себя):")
print(max_absolute_correlation)

Корреляционная матрица:
          p         q         r         s         t         u         v  \
p  1.000000  0.307834 -0.080207 -0.121024 -0.405853  0.038334 -0.215536
q  0.307834  1.000000  0.100764 -0.065866 -0.564022 -0.414268  0.483644
r -0.080207  0.100764  1.000000  0.210905  0.441910 -0.046312  0.270838
s -0.121024 -0.065866  0.210905  1.000000  0.036425 -0.027677  0.257575
t -0.405853 -0.564022  0.441910  0.036425  1.000000 -0.149735 -0.556721
u  0.038334 -0.414268 -0.046312 -0.027677 -0.149735  1.000000  0.015167
v -0.215536  0.483644  0.270838  0.257575 -0.556721  0.015167  1.000000
w  0.231921  0.487482  0.351584 -0.195273  0.172916 -0.526516 -0.034178
x -0.445955 -0.358355  0.659894 -0.161528  0.543111  0.014108  0.199537
y -0.319815 -0.179332 -0.216564  0.137913 -0.009886  0.634633 -0.043951

          w         x         y
p  0.231921 -0.445955 -0.319815
q  0.487482 -0.358355 -0.179332
r  0.351584  0.659894 -0.216564
s -0.195273 -0.161528  0.137913
t  0.172916  0.543111 -0.009886
u -0.526516  0.014108  0.634633
v -0.034178  0.199537 -0.043951
w  1.000000  0.182236 -0.166839
x  0.182236  1.000000 -0.206949
y -0.166839 -0.206949  1.000000

Максимально возможное абсолютное значение корреляции для каждого столбца (исключая себя):
p    0.445955
q    0.564022
r    0.659894
s    0.257575
t    0.564022
u    0.634633
v    0.556721
w    0.526516
x    0.659894
y    0.634633
dtype: float64

61

In [62]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
print("Исходный DataFrame:")
print(df)

min_values = df.min(axis=1)
max_values = df.max(axis=1)
min_max_diff = max_values - min_values
df['min_max_diff'] = min_max_diff

print("\nDataFrame с добавленным столбцом min_max_diff:")
print(df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0  59  19  46  77  94  37   6  98  81  29
1  22  81  81  47  29  83  76   8  38  73
2  99  77  27  73  91  24  58   3   1  34
3  57  39  90  72  82  53  90  59  93  43
4  71  11  37  66  25   8  26  41  26  19
5  73  17  61  80  47  19  94  71  70  80
6  98  79  19  96  95  31  12  42  72  98
7  55   1  74  84  58  84  87  24  68  74

DataFrame с добавленным столбцом min_max_diff:
    0   1   2   3   4   5   6   7   8   9  min_max_diff
0  59  19  46  77  94  37   6  98  81  29            92
1  22  81  81  47  29  83  76   8  38  73            75
2  99  77  27  73  91  24  58   3   1  34            98
3  57  39  90  72  82  53  90  59  93  43            54
4  71  11  37  66  25   8  26  41  26  19            63
5  73  17  61  80  47  19  94  71  70  80            77
6  98  79  19  96  95  31  12  42  72  98            86
7  55   1  74  84  58  84  87  24  68  74            86

62

In [63]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
print("Исходный DataFrame:")
print(df)

def second_largest(row):
    return row.nlargest(2).iloc[1]

df['penultimate'] = df.apply(second_largest, axis=1)

print("\nDataFrame с добавленным столбцом 'penultimate':")
print(df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0  88  55   2  17  42  23   8  91  51  56
1  37  89  78  27  31  33  79   4  22  62
2  60  17  54  46  44  12  47  96  26  98
3  42  93  18  98   3  98  87  59   3  48
4  13  99   7  15  14  92  16  10  79  83
5  76  64  87  68  42  93  40  70  28  10
6  56  83  47  22  49  18  85  91  43  87
7  70  92  72  87  79  79  87  31  78  68

DataFrame с добавленным столбцом 'penultimate':
    0   1   2   3   4   5   6   7   8   9  penultimate
0  88  55   2  17  42  23   8  91  51  56           88
1  37  89  78  27  31  33  79   4  22  62           79
2  60  17  54  46  44  12  47  96  26  98           96
3  42  93  18  98   3  98  87  59   3  48           98
4  13  99   7  15  14  92  16  10  79  83           92
5  76  64  87  68  42  93  40  70  28  10           87
6  56  83  47  22  49  18  85  91  43  87           87
7  70  92  72  87  79  79  87  31  78  68           87

63

In [64]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
print("Исходный DataFrame:")
print(df)

# Шаг 1: Нормализация столбцов
df = (df - df.mean()) / df.std()
print("\nНормализованный DataFrame:")
print(df)

# Шаг 2: Ранжирование столбцов
df = (df - df.min()) / (df.max() - df.min())
print("\nРанжированный нормализованный DataFrame:")
print(df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0  94  77  21  41  59  13  86  14  88  11
1  82  48   5  43  74  25  13  66  13  83
2   7  19   2  18  54  48   3  65  30  63
3  80  32  37  44  38  20  43  47  23  20
4  71  48  82  18  89  37   9  92  99  62
5  79  32  33  37  27  47  76  87  63  66
6  89  39  63  68   2  92  87  59  94  17
7  79  28  93  32  67   3  39  84  99  95

Нормализованный DataFrame:
          0         1         2         3         4         5         6  \
0  0.779920  2.061308 -0.615144  0.210126  0.277813 -0.814904  1.188977
1  0.342070  0.429146 -1.083824  0.334644  0.815515 -0.382690 -0.902477
2 -2.394491 -1.203016 -1.171702 -1.221841  0.098579  0.445721 -1.188977
3  0.269095 -0.471357 -0.146463  0.396904 -0.474970 -0.562779 -0.042975
4 -0.059292  0.429146  1.171702 -1.221841  1.353217  0.049525 -1.017077
5  0.232608 -0.471357 -0.263633 -0.038912 -0.869285  0.409703  0.902477
6  0.597483 -0.077387  0.615144  1.891130 -1.765455  2.030508  1.217627
7  0.232608 -0.696483  1.493920 -0.350209  0.564587 -1.175083 -0.157575

          7         8         9
0 -1.974986  0.666447 -1.286155
1  0.068781 -1.384160  0.965593
2  0.029477 -0.919356  0.340108
3 -0.677980 -1.110746 -1.004686
4  1.090664  0.967203  0.308834
5  0.894148 -0.017088  0.433931
6 -0.206342  0.830496 -1.098509
7  0.776238  0.967203  1.340885

Ранжированный нормализованный DataFrame:
          0         1         2     3         4         5         6         7  \
0  1.000000  1.000000  0.208791  0.46  0.655172  0.112360  0.988095  0.000000
1  0.862069  0.500000  0.032967  0.50  0.827586  0.247191  0.119048  0.666667
2  0.000000  0.000000  0.000000  0.00  0.597701  0.505618  0.000000  0.653846
3  0.839080  0.224138  0.384615  0.52  0.413793  0.191011  0.476190  0.423077
4  0.735632  0.500000  0.879121  0.00  1.000000  0.382022  0.071429  1.000000
5  0.827586  0.224138  0.340659  0.38  0.287356  0.494382  0.869048  0.935897
6  0.942529  0.344828  0.670330  1.00  0.000000  1.000000  1.000000  0.576923
7  0.827586  0.155172  1.000000  0.28  0.747126  0.000000  0.428571  0.897436

          8         9
0  0.872093  0.000000
1  0.000000  0.857143
2  0.197674  0.619048
3  0.116279  0.107143
4  1.000000  0.607143
5  0.581395  0.654762
6  0.941860  0.071429
7  1.000000  1.000000

64

In [65]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

correlations = []
for i in range(len(df) - 1):
    corr = df.iloc[i].corr(df.iloc[i + 1])
    correlations.append(corr)

result_df = pd.DataFrame({
    'Строка 1': df.index[:-1],
    'Строка 2': df.index[1:],
    'Корреляция': correlations
})

print("Исходный DataFrame:")
print(df)
print("\nКорреляции между каждой строкой и последующей строкой:")
print(result_df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0   5  13  77  48  58  88  85  80  60  77
1  76  77  33  27   4  55  54  67  64  95
2  12  47  94  53  38  63   2   7   8  95
3  47  17  57  74  90  95  52  50  90  97
4  42  66  38  70  69  13  33  42  64   5
5  13  71  45  45   4  84  42  54  83   1
6  85  14  32  71  62  72   3  64   7  96
7  47  37  86  80  84  93  70  98  62  25

Корреляции между каждой строкой и последующей строкой:
   Строка 1  Строка 2  Корреляция
0         0         1   -0.171355
1         1         2   -0.039123
2         2         3    0.288937
3         3         4   -0.293841
4         4         5    0.140713
5         5         6   -0.547375
6         6         7   -0.045611

65

In [66]:
df = pd.DataFrame(np.random.randint(1, 100, 100).reshape(10, -1))

np.fill_diagonal(df.values, 0)
for i in range(len(df)):
    df.iat[i, len(df) - 1 - i] = 0
print("DataFrame с замененными значениями в диагоналях:")
print(df)

DataFrame с замененными значениями в диагоналях:
    0   1   2   3   4   5   6   7   8   9
0   0  99  41   6   8  93  26  12  44   0
1  20   0  23  54  80   4  74  43   0  45
2  14  52   0  60  80  66  71   0  83  59
3  13  38  56   0  96  40   0  21  47  24
4  91  20  19  79   0   0  55  23  91  68
5   3  51  62  64   0   0  28  88  10  41
6  28  87  49   0  66  84   0  86  36  52
7  29  16   0  58  54  22  21   0  37  59
8  24   0  97  96  76  12  95  24   0  91
9   0  12  20  23  80  95  97  65  70   0

66

In [67]:
df = pd.DataFrame({
    'col1': ['apple', 'banana', 'orange'] * 3,
    'col2': np.random.rand(9),
    'col3': np.random.randint(0, 15, 9)
})

df_grouped = df.groupby('col1')
print("Исходный DataFrame:")
print(df)
print("\nГруппа, относящаяся к 'apple':")
print(df_grouped.get_group('apple'))

Исходный DataFrame:
     col1      col2  col3
0   apple  0.400297     7
1  banana  0.651520     6
2  orange  0.376181     9
3   apple  0.177634     3
4  banana  0.025713     3
5  orange  0.916625     2
6   apple  0.603358     8
7  banana  0.797068     8
8  orange  0.659814     0

Группа, относящаяся к 'apple':
    col1      col2  col3
0  apple  0.400297     7
3  apple  0.177634     3
6  apple  0.603358     8

67

In [68]:
df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

banana_ratings = df[df['fruit'] == 'banana']['rating']
print("Исходный DataFrame:")
print(df)
print("\nВторое по величине значение 'rating' для 'banana':")
print(banana_ratings.nlargest(2).iloc[-1])

Исходный DataFrame:
    fruit    rating  price
0   apple  0.176711     14
1  banana  0.928590      3
2  orange  0.787687      4
3   apple  0.780645     11
4  banana  0.682328      1
5  orange  0.345731      9
6   apple  0.875946     11
7  banana  0.948196      1
8  orange  0.578605     13

Второе по величине значение 'rating' для 'banana':
0.9285904010223758

68

In [69]:
df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

print("Исходный DataFrame:")
print(df)
print("\nСредняя цена каждого фрукта:")
print(df.groupby('fruit', as_index=False)['price'].mean())

Исходный DataFrame:
    fruit    rating  price
0   apple  0.414792      2
1  banana  0.158193      9
2  orange  0.323299      1
3   apple  0.895558      3
4  banana  0.689383      1
5  orange  0.928206      6
6   apple  0.562528      5
7  banana  0.396015      8
8  orange  0.095548      7

Средняя цена каждого фрукта:
    fruit     price
0   apple  3.333333
1  banana  6.000000
2  orange  4.666667

69

In [70]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})
df2 = pd.DataFrame({
    'pazham': ['apple', 'orange', 'pine'] * 2,
    'kilo': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

print("Исходный DataFrame df1:")
print(df1)
print("\nИсходный DataFrame df2:")
print(df2)
print("\nОбъединенный DataFrame:")
print(pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo']))

Исходный DataFrame df1:
    fruit  weight  price
0   apple    high      0
1  banana  medium     14
2  orange     low      4
3   apple    high      2
4  banana  medium      3
5  orange     low      8
6   apple    high      4
7  banana  medium      1
8  orange     low     14

Исходный DataFrame df2:
   pazham  kilo  price
0   apple  high     13
1  orange   low      5
2    pine  high     10
3   apple   low      1
4  orange  high      9
5    pine   low      9

Объединенный DataFrame:
    fruit weight  price_x  pazham  kilo  price_y
0   apple   high        0   apple  high       13
1  orange    low        4  orange   low        5
2   apple   high        2   apple  high       13
3  orange    low        8  orange   low        5
4   apple   high        4   apple  high       13
5  orange    low       14  orange   low        5

70

In [71]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns=list('abcd'))
print("Исходный DataFrame:")
print(df)

df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print("\nDataFrame с добавленными столбцами 'a_lag1' и 'b_lead1':")
print(df)

Исходный DataFrame:
    a   b   c   d
0  21   1  91   7
1  75  50  74  67
2  16  36  11  10
3  93  99   6  37
4  99  41   6  11

DataFrame с добавленными столбцами 'a_lag1' и 'b_lead1':
    a   b   c   d  a_lag1  b_lead1
0  21   1  91   7     NaN     50.0
1  75  50  74  67    21.0     36.0
2  16  36  11  10    75.0     99.0
3  93  99   6  37    16.0     41.0
4  99  41   6  11    93.0      NaN

71

In [72]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))

print("Исходный DataFrame:")
print(df)
print("\nЧастоты уникальных значений по всему DataFrame:")
print(df.stack().value_counts().sort_index())

Исходный DataFrame:
   a  b  c  d
0  1  2  5  9
1  2  4  3  4
2  1  4  2  8
3  2  1  8  7
4  2  2  7  3

Частоты уникальных значений по всему DataFrame:
1    3
2    6
3    2
4    3
5    1
7    2
8    2
9    1
Name: count, dtype: int64

72

In [73]:
df = pd.DataFrame(["STD, City\tState",
                   "33, Kolkata\tWest Bengal",
                   "44, Chennai\tTamil Nadu",
                   "40, Hyderabad\tTelengana",
                   "80, Bangalore\tKarnataka"], 
                  columns=['row'])
print(df)

df = df['row'].iloc[1:].str.split('[,\t]', expand=True)
df.columns = ['STD', 'City', 'State']
print("\nРазделённый DataFrame:")
print(df)

                        row
0          STD, City\tState
1  33, Kolkata\tWest Bengal
2   44, Chennai\tTamil Nadu
3  40, Hyderabad\tTelengana
4  80, Bangalore\tKarnataka

Разделённый DataFrame:
  STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka